# File di sviluppo: esclusi dallo ZIP generato da `git archive`
# (e quindi dal pacchetto installabile allegato alle Release)
/.github              export-ignore
/.gitattributes       export-ignore
/.gitignore           export-ignore
/.wp-env.json         export-ignore
/bin                  export-ignore
/tests                export-ignore
/composer.json        export-ignore
/phpcs.xml.dist       export-ignore
/package.json         export-ignore
/package-lock.json    export-ignore
/playwright.config.js export-ignore
/TESTING.md           export-ignore
